.contacts {
	position: relative;
	padding: 112px 0 112px 0;
	&__google-map {
		height: 592px;
		width: 718px;
	}
	&__title {
		color: #66605d;
		font-size: 64px;
		font-family: "Roboto-Regular", sans-serif;
		letter-spacing: 1px;
		text-align: center;
	}
	&__wrapper {
		display: flex;
		margin-top: 80px;
	}
	&__info {
		padding-left: 86px;
	}
	&__info-title {
		display: inline-block;
		font-family: "SpaceGrotesk-Bold", sans-serif;
		font-size: 32px;
		line-height: 42px;
		color: #4a4747;
		letter-spacing: 0.5px;
		max-width: 360px;
	}
	&__info-text {
		margin-top: 10px;
		display: inline-block;
		font-family: "SpaceGrotesk-Regular", sans-serif;
		font-size: 20px;
		line-height: 30px;
		color: #463f3d;
	}
	&__form {
		max-width: 641px;
		margin-top: 37px;
	}
	&__wrapper-name-surname,
	&__wrapper-email-telephone {
		display: flex;
		justify-content: space-between;
		height: 62px;
		label {
			display: inline-block;
			margin-left: 18px;
			font-family: "Roboto-Regular", sans-serif;
			font-size: 15px;
			line-height: 16px;
			color: #777171;
		}
	}
	&__wrapper-email-telephone {
		margin-top: 12px;
	}
	&__wrapper-name,
	&__wrapper-surname,
	&__wrapper-email,
	&__wrapper-telephone {
		display: block;
		position: relative;
		height: auto;
		max-width: 307px;
		width: 100%;
	}

	&__wrapper-surname,
	&__wrapper-telephone {
		margin-left: 20px;
	}
	&__name,
	&__surname,
	&__email,
	&__telephone {
		display: inline-block;
		width: 100%;
		max-height: 45px;
		height: 100%;
		box-sizing: border-box;
		border-radius: 7px;
		border: solid 1px #abaaaa;
		padding: 14px 17px;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #463f3d;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			/* Chrome, Safari, Opera */
			color: #abaaaa;
			font-family: "Roboto-Regular", sans-serif;
			font-size: 18px;
		}
	}
	&__wrapper-message {
		position: relative;
		margin-top: 12px;
		width: 100%;
		max-height: 180px;
		height: 100%;
		label {
			display: inline-block;
			margin-left: 18px;
			font-family: "Roboto-Regular", sans-serif;
			font-size: 15px;
			line-height: 16px;
			color: #777171;
		}
	}
	&__message {
		padding: 14px 17px;
		display: inline-block;
		width: 100%;
		height: 165px;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #463f3d;
		box-sizing: border-box;
		border-radius: 7px;
		border: solid 1px #abaaaa;
		&:focus {
			outline: none;
		}
	}
	&__wrapper-privet-button {
		position: relative;
		margin-top: 31px;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__checkbox-text {
		display: inline-block;
		position: relative;
		font-size: 17px;
		line-height: 20px;
		font-family: "Roboto-Regular", sans-serif;
		color: #463f3d;
		max-width: 292px;
		line-height: 24px;
		a {
			position: relative;
			color: #5d78ff;
			transition: all ease 0.3s;
			&:hover {
				color: #2f4de8;
			}
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 1px;
				background-color: #5d78ff;
				transition: all ease 0.3s;
			}
			&:hover::after {
				background-color: #2f4de8;
			}
		}
	}
	&__button {
		position: relative;
		display: flex;
		justify-content: center;
		margin-left: 20px;
		align-items: center;
		width: 293px;
		height: 68px;
		border-radius: 15px;
		background-color: #f89f73;
		border: none;
		color: #ffffff;
		font-size: 20px;
		line-height: 32px;
		font-family: "Roboto-Regular", sans-serif;
		transition: all ease 0.3s;
		letter-spacing: 0.5px;
		cursor: pointer;
		&--text-transparent {
			color: rgba(255, 255, 255, 0);
		}
		&:hover {
			background-color: #e68e60;
		}
	}
	&__private {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 292px;
		width: 100%;
		border-radius: 7px;
	}
}

@media (max-width: 1920px) {
	.contacts {
		&__title {
			font-size: 47px;
		}
		&__google-map {
			height: 552px;
		}
		&__info {
			max-width: 587px;
			padding-left: 80px;
		}
		&__info-title {
			font-size: 28px;
			line-height: 40px;
		}
		&__info-text {
			margin-top: 10px;
			display: inline-block;
			font-family: "SpaceGrotesk-Regular", sans-serif;
			font-size: 18px;
			line-height: 30px;
			color: #463f3d;
		}
		&__form {
			max-width: 641px;
			margin-top: 20px;
		}
		&__wrapper-name-surname,
		&__wrapper-email-telephone {
			display: flex;
			justify-content: space-between;
		}
		&__wrapper-name-surname,
		&__wrapper-email-telephone {
			label {
				margin-left: 12px;
				font-size: 13px;
				line-height: 14px;
			}
		}
		&__wrapper-message {
			label {
				margin-left: 12px;
				font-size: 13px;
				line-height: 14px;
			}
		}
		&__wrapper-name,
		&__wrapper-surname,
		&__wrapper-email,
		&__wrapper-telephone {
			max-width: 320px;
		}
		&__name,
		&__surname,
		&__email,
		&__telephone {
			padding: 12px 15px;
			font-size: 16px;
			line-height: 22px;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
				/* Chrome, Safari, Opera */
				color: #abaaaa;
				font-family: "Roboto-Regular", sans-serif;
				font-size: 16px;
			}
		}

		&__checkbox-text {
			font-size: 16px;
			line-height: 24px;
		}
		&__button {
			width: 160px;
			height: 52px;
			font-size: 22px;
			line-height: 22px;
			border-radius: 9px;
			margin: 0 auto;
		}
		&__private {
			margin-right: 20px;
			max-width: 280px;
		}
	}
}

@media (max-width: 1300px) {
	.contacts {
		&__info {
			max-width: 488px;
		}
		&__google-map {
			height: 576px;
		}
	}
}

@media (max-width: 1200px) {
	.contacts {
		&__info {
			max-width: 488px;
		}
		&__google-map {
			height: 586px;
		}
		&__button {
			font-size: 20px;
			border-radius: 7px;
			width: 133px;
			height: 45px;
		}
	}
}

@media (max-width: 1100px) {
	.contacts {
		&__private {
			max-width: auto;
			justify-content: flex-start;
			margin-right: 0;
		}
		&__checkbox-text {
			margin-left: 12px;
			br {
				display: none;
			}
		}

		&__wrapper-privet-button {
			display: block;
			align-items: center;
			margin-top: 30px;
		}
		&__button {
			margin: 0;
			margin-top: 20px;
		}
		&__google-map {
			height: 646px;
			width: 825px;
		}
	}
}

@media (max-width: 1024px) {
	.contacts {
		&__info {
			max-width: 488px;
		}
	}
}

@media (max-width: 992px) {
	.contacts {
		&__google-map {
			height: 732px;
			width: 674px;
		}
		&__form {
			margin-top: 12px;
		}
		&__title {
			font-size: 37px;
		}
		&__info {
			max-width: 488px;
		}
		&__info-title {
			font-size: 22px;
			line-height: 32px;
		}
		&__info-text {
			margin-top: 10px;
			font-size: 14px;
			line-height: 26px;
		}
		&__wrapper-name-surname,
		&__wrapper-email-telephone {
			flex-direction: column;
			height: 128px;
			max-width: 100%;
			label {
				margin-left: 10px;
				font-size: 10px;
				line-height: 14px;
			}
		}
		&__wrapper-name,
		&__wrapper-surname,
		&__wrapper-email,
		&__wrapper-telephone {
			max-width: 100%;
		}
		&__wrapper-surname,
		&__wrapper-telephone {
			margin-left: 0;
		}
		&__wrapper-message {
			label {
				margin-left: 10px;
				font-size: 10px;
				line-height: 14px;
			}
		}
		&__name,
		&__surname,
		&__email,
		&__telephone {
			padding: 10px 13px;
			min-height: 42px;
			font-size: 14px;
			line-height: 20px;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
				/* Chrome, Safari, Opera */
				color: #abaaaa;
				font-family: "Roboto-Regular", sans-serif;
				font-size: 14px;
			}
		}
		&__checkbox-text {
			font-size: 14px;
			line-height: 22px;
		}
		&__wrapper-email-telephone,
		&__wrapper-message {
			margin-top: 6px;
		}
		&__wrapper-privet-button {
			margin-top: 22px;
		}
		&__button {
			margin-top: 17px;
		}
	}
}

@media (max-width: 768px) {
	.contacts {
		padding: 80px 0 80px 0;
		&__info {
			padding-left: 40px;
		}
		&__title {
			font-size: 30px;
		}
	}
}

@media (max-width: 767px) {
	.contacts {
		&__google-map {
			width: 805px;
		}
	}
}

@media (max-width: 689px) {
	.contacts {
		&__google-map {
			width: 100%;
			height: 400px;
		}
		&__wrapper {
			flex-direction: column;
			max-width: 100% !important;
			margin-top: 73px;
		}
		&__info {
			padding-left: 0;
			margin: 0 auto;
			margin-top: 40px;
		}
		&__info-item {
			text-align: center;
		}
		&__info-title {
			line-height: 29px;
		}
		&__checkbox-text {
			max-width: 100%;
		}
		&__button {
			margin: 0 auto;
			margin-top: 17px;
		}
	}
}

