@font-face {
	font-family: "Inder-Regular";
	src: url("./fonts/Inder/Inder-Regular.ttf");
}

@font-face {
	font-family: "Italianno-Regular";
	src: url("./fonts/Italianno/Italianno-Regular.ttf");
}

@font-face {
	font-family: "InriaSans-Regular";
	src: url("./fonts/Inria_Sans/InriaSans-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Black";
	src: url("./fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
	font-family: "Roboto-Medium";
	src: url("./fonts/Roboto/Roboto-Medium.ttf");	
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("./fonts/Roboto/Roboto-Regular.ttf");	
}

@font-face {
	font-family: "SpaceGrotesk-Bold";
	src: url("./fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf");
}

