.nav {
	padding: 20px 0 28px 0;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		&-wrapper {
			position: relative;
			height: 70px;
			width: 375px;
		}
		&-img {
			width: 95px;
			height: 90px;
			/* 	display: none; */
		}
		&-name {
			position: absolute;
			/* display: none; */
			top: 2px;
			left: 129px;
			font-size: 46px;
			color: #463f3d;
			font-family: "Inder-Regular";
			left: 108px;
		}
		&-specialist {
			position: absolute;
			/* display: none; */
			top: 51px;
			left: 95px;
			font-size: 32px;
			color: #595252;
			font-family: "Italianno-Regular";
			left: 112px;
		}
	}
	&__menu {
		display: flex;
		align-items: center;
		font-size: 20px;
		justify-content: space-between;
		width: 765px;
		font-family: "InriaSans-Regular", sans-serif;
		&-item {
			position: relative;
			color: #524f4e;
			cursor: pointer;
			transition: all 0.6s ease;
			&::after {
				content: "";
				position: absolute;
				top: 30px;
				left: 0;
				bottom: -2px; /* Смещение подчеркивания */
				width: 100%;
				height: 2px;
				background-color: #8b2323;
				transform: scaleX(0);
				transform-origin: bottom right;
				transition: transform 0.6s ease;
			}
			&:hover {
				color: #8b2323;
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
			&--dropdown {
				position: relative;
			}
			.submenu-my-expertise,
			.submenu-my-works,
			.submenu-contacts {
				display: none;
				opacity: 0;
				visibility: hidden;
				transition: all 1s ease;
				position: absolute;
				top: 90%;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				.submenu-wrapper-expertise,
				.submenu-wrapper-works,
				.submenu-wrapper-contacts {
					margin-top: 20px;
					background-color: #3e3b37;
					padding: 29px 40px;
					/* width: 139px; */
					a {
						position: relative;
						display: inline-block;
						width: 137px;
						font-size: 20px;
						margin: 12px 0;
						color: #c5bfbf;
						transition: all 0.6s ease;
						&::after {
							content: "";
							position: absolute;
							top: 34px;
							left: 0;
							bottom: -2px; /* Смещение подчеркивания */
							width: 100%;
							height: 2px;
							background-color: white;
							transform: scaleX(0);
							transform-origin: bottom right;
							transition: transform 0.6s ease;
						}
						&:hover {
							color: #ffffff;
							&::after {
								transform: scaleX(1);
								transform-origin: bottom left;
							}
						}
					}
				}
			}
			.submenu-wrapper-works {
				width: auto;
				a {
					line-height: 32px;
					margin: 8px 0;
				}
			}
			.submenu-wrapper-contacts {
				width: auto;
				a {
					line-height: 32px;
					margin: 8px 0;
				}
			}
		}
	}
}
.submenu__item {
	&::before {
		content: "";
		position: absolute;
		top: 64px;
		left: 0;
		bottom: -2px; /* Смещение подчеркивания */
		width: 100%;
		height: 2px;
		background-color: white;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 0.6s ease;
	}
	&:hover {
		&::before {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
}
@media (max-width: 1920px) {
	.container {
		width: 83%;
	}
	.nav {
		padding: 12px 0 8px 0;
		&__menu {
			font-size: 16px;
			width: 620px;
			&-item {
				&::after {
					top: 24px;
				}
				&--dropdown {
					position: relative;
				}
				.submenu-my-expertise,
				.submenu-my-works,
				.submenu-contacts {
					.submenu-wrapper-expertise,
					.submenu-wrapper-works,
					.submenu-wrapper-contacts {
						padding: 23px 23px;
						width: 109px;
						a {
							display: inline-block;
							width: auto;
							font-size: 16px;
							line-height: 24px;
							&::after {
								top: 25px;
							}
						}
					}
					.submenu-wrapper-works {
						width: 95px;
						a {
							line-height: 24px;
							margin: 9px 0;
						}
					}
					.submenu-wrapper-contacts {
						width: auto;
						a {
							width: auto;
							line-height: 26px;
							margin: 8px 0;
						}
					}
				}
			}
		}
		&__logo-wrapper {
			position: relative;
			width: 312px;
			height: 70px;
		}
		&__logo-img {
			height: 70px;
			width: 75px;
		}
		&__logo-name {
			font-size: 36px;
			left: 90px;
			top: 0px;
		}
		&__logo-specialist {
			font-size: 27px;
			top: 36px;
			left: 93px;
		}
	}
	.submenu__item {
		&::before {
			top: 50px;
		}
	}
}
@media (max-width: 1200px) {
	.nav__logo-img {
	}
	.nav__logo-name {
		font-size: 34px;
		left: 90px;
		top: 0px;
	}
	.nav__logo-specialist {
		font-size: 24px;
		top: 35px;
		/* left: 78px; */
	}
	.nav {
		&__menu {
			font-size: 14px;
			width: 480px;
			&-item {
				&::after {
					top: 24px;
				}
				&--dropdown {
					position: relative;
				}
				.submenu-my-expertise,
				.submenu-my-works,
				.submenu-contacts {
					.submenu-wrapper-expertise,
					.submenu-wrapper-works,
					.submenu-wrapper-contacts {
						padding: 20px 20px;
						width: 109px;
						a {
							font-size: 14px;
							line-height: 21px;
							&::after {
								top: 25px;
							}
						}
					}
					.submenu-wrapper-works {
						width: 95px;
						a {
							line-height: 24px;
							margin: 7px 0;
						}
					}
					.submenu-wrapper-contacts {
						width: auto;
						a {
							width: auto;
							line-height: 24px;
							margin: 7px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.container {
		width: 900px;
	}
	.nav__menu {
		font-size: 14px;
		width: 480px;
	}
	.nav__logo-wrapper {
		position: relative;
		width: 244px;
		height: 54px;
	}
	.nav__logo-img {
		width: 57px;
		height: 52px;
	}
	.nav__logo-name {
		font-size: 28px;
		left: 67px;
		top: 0px;
	}
	.nav__logo-specialist {
		font-size: 21px;
		top: 29px;
		left: 67px;
	}
	.nav {
		&__menu {
			font-size: 14px;
			width: 480px;
			&-item {
				&::after {
					top: 24px;
				}
				&--dropdown {
					position: relative;
				}
				.submenu-my-expertise,
				.submenu-my-works,
				.submenu-contacts {
					.submenu-wrapper-expertise,
					.submenu-wrapper-works,
					.submenu-wrapper-contacts {
						padding: 20px 20px;
						width: 95px;
						a {
							font-size: 14px;
							line-height: 21px;
							&::after {
								top: 25px;
							}
						}
					}
					.submenu-wrapper-works {
						width: 95px;
						a {
							line-height: 24px;
							margin: 7px 0;
						}
					}
					.submenu-wrapper-contacts {
						width: auto;
						a {
							width: auto;
							line-height: 24px;
							margin: 7px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 924px) {
	.container {
		width: 97%;
	}
	.nav {
		&__menu {
			font-size: 14px;
			width: 480px;
			&-item {
				&::after {
					top: 19px;
				}
				&--dropdown {
					position: relative;
				}
				.submenu-my-expertise,
				.submenu-my-works,
				.submenu-contacts {
					.submenu-wrapper-expertise,
					.submenu-wrapper-works,
					.submenu-wrapper-contacts {
						margin-top: 12px;
						a {
							&::after {
								top: 25px;
							}
						}
					}
					.submenu-wrapper-works {
						width: 95px;
						a {
							line-height: 24px;
							margin: 7px 0;
						}
					}
					.submenu-wrapper-contacts {
						width: auto;
						a {
							width: auto;
							line-height: 24px;
							margin: 7px 0;
						}
					}
				}
				.submenu-contacts {
					left: 50%;
					transform: translateX(-77%);
				}
			}
		}
	}
}
@media (max-width: 818px) {
	.nav__logo-name {
		/* font-size: 30px; */
		left: 64px;
		top: 0px;
	}
	.nav__logo-specialist {
		font-size: 20px;
	}
	.nav {
		&__menu {
			font-size: 13px;
			width: 465px;
			&-item {
				&::after {
					top: 18px;
				}
				&--dropdown {
					position: relative;
				}
				.submenu-my-expertise,
				.submenu-my-works,
				.submenu-contacts {
					.submenu-wrapper-expertise,
					.submenu-wrapper-works,
					.submenu-wrapper-contacts {
						padding: 16px 16px;
						width: 92px;
						a {
							font-size: 13px;
							line-height: 20px;
							&::after {
								top: 23px;
							}
						}
					}
					.submenu-wrapper-works {
						width: 90px;
						a {
							line-height: 24px;
							margin: 7px 0;
						}
					}
					.submenu-wrapper-contacts {
						width: auto;
						a {
							width: auto;
							line-height: 24px;
							margin: 7px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.nav__menu {
		display: none;
	}
}

@media (max-width: 576px) {
	.nav {
		&__logo-name {
			font-size: 25px;
		}
		&__logo-specialist {
			top: 27px;
		}
	}
}
