.services {
	position: relative;
	padding: 112px 0 112px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
	}
	&__title,
	&__title-mobile {
		color: #66605d;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 64px;
		line-height: auto;
		letter-spacing: 0.5px;
	}
	&__title-mobile {
		display: none;
	}
	&__wrapper-text {
		margin-top: 39px;
		width: 588px;
	}
	&__item {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 44px;
		line-height: 68px;
		color: #050505;
	}
	&__item-span {
		position: relative;
		font-family: "Roboto-Black", sans-serif;
		display: block;
		font-size: 40px;
		line-height: 52px;
		color: #555151;
		padding-left: 31px;
		&::before {
			content: " - ";
			position: absolute;
			top: 0;
			left: 0;
			color: #66605d;
			z-index: 999;
			font-size: 64px;
			font-family: "Roboto-Black", sans-serif;
		}
	}
	&__text {
		display: block;
		margin-top: 39px;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 20px;
		line-height: 32px;
		color: #463f3d;
	}
	&__button {
		display: inline-block;
		margin-top: 80px;
		background-color: #f89f73;
		color: #fff;
		font-size: 30px;
		font-family: "Roboto-Regular", sans-serif;
		letter-spacing: 0.5px;
		padding: 22px 48.5px;
		border: none;
		text-decoration: none;
		cursor: pointer;
		border-radius: 15px;
		transition: all ease 0.3s;
		&:hover {
			background-color: #e68e60;
		}
	}
	&__cards-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 57px 58px;
	}
	&__card-img {
		width: 100px;
		height: 100px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__card-title {
		display: block;
		margin-top: 35px;
		font-family: "SpaceGrotesk-Bold", sans-serif;
		font-size: 32px;
		line-height: 36px;
		color: #4a4747;
		max-width: 300px;
		&--first {
			width: 200px;
		}
		&--third {
			width: 200px;
		}
	}
	&__card-text {
		display: block;
		margin-top: 19px;
		font-family: "Roboto-Regular", sans-serif;
		font-size: 20px;
		line-height: 32px;
		color: #463f3d;
		max-width: 320px;
	}
}
@media (max-width: 2024px) {
	.services {
		&__wrapper {
			width: 1216px;
			margin: 0 auto;
		}
		&__text-block {
			width: 50%;
		}
		&__title {
			font-size: 47px;
		}
		&__wrapper-text {
			margin-top: 30px;
			width: 100%;
		}
		&__item {
			font-size: 31px;
			line-height: 47px;
		}
		&__item-span {
			font-size: 30px;
			line-height: 42px;
			width: 360px;
			&::before {
				font-size: 50px;
			}
		}
		&__text {
			margin-top: 30px;
			font-size: 16px;
			line-height: 30px;
			max-width: 490px;
		}
		&__button {
			margin-top: 42px;
			font-size: 22px;
			padding: 14px 40px;
			border-radius: 9px;
		}
		&__cards-block {
			width: 50%;
			grid-gap: 30px 30px;
		}
		&__card-img {
			width: 60px;
			height: 60px;
		}
		&__card-title {
			margin-top: 18px;
			font-size: 21px;
			line-height: 28px;
			width: 210px;
			&--first {
				width: 192px;
			}
			&--third {
				width: 182px;
			}
		}
		&__card-text {
			margin-top: 12px;
			font-size: 15px;
			line-height: 27px;
			max-width: 263px;
		}
	}
}

@media (max-width: 1440px) {
	.services {
		&__wrapper {
			width: 1028px;
		}
		&__title {
			font-size: 45px;
		}
		&__wrapper-text {
			margin-top: 25px;
		}
		&__item {
			font-size: 28px;
			line-height: 44px;
		}
		&__item-span {
			font-size: 26px;
			&::before {
				font-size: 45px;
			}
		}
		&__text {
			margin-top: 25px;
			max-width: 450px;
		}
		&__button {
			margin-top: 35px;
		}
		&__cards-block {
			grid-gap: 25px 25px;
		}
		&__card-img {
			width: 60px;
			height: 60px;
		}
		&__card-title {
			margin-top: 15px;
			font-size: 20px;
			line-height: 27px;
			width: 200px;
			&--first {
				width: 180px;
			}
			&--third {
				width: 170px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.services {
		&__wrapper {
			width: 100%;
		}
		&__button {
			font-size: 20px;
			padding: 12.9px 40px;
			border-radius: 7px;
		}
		&__cards-block {
			grid-gap: 30px 35px;
		}
		&__card-img {
			height: 55px;
			width: 55px;
		}
		&__card-text {
			font-size: 15px;
			line-height: 24px;
		}
	}
}
@media (max-width: 1024px) {
	.services {
		&__cards-block {
			grid-gap: 30px 25px;
		}
		&__card-img {
			height: 52px;
			width: 52px;
		}
		&__card-title {
			margin-top: 15px;
			font-size: 19px;
			line-height: 26px;
			width: 180px;
			&--first {
				width: 160px;
			}
			&--third {
				width: 150px;
			}
		}
		&__card-text {
			font-size: 14px;
			line-height: 24px;
		}
	}
}

@media (max-width: 992px) {
	.services {
		&__title,
		&__title-mobile {
			font-size: 37px;
		}
		&__wrapper-text {
			margin-top: 20px;
			width: 382px;
		}
		&__item {
			font-size: 28px;
			line-height: 40px;
		}
		&__item-span {
			font-size: 28px;
			padding-left: 27px;
			width: 324px;
			line-height: 37px;
			&::before {
				font-size: 40px;
			}
		}
		&__text {
			margin-top: 20px;
			font-size: 15px;
			line-height: 27px;
		}
		&__button {
			margin-top: 40px;
			font-size: 18px;
			border-radius: 6px;
			padding: 10px 40px;
		}
		&__cards-block {
			grid-gap: 25px 25px;
		}
		&__card-img {
			height: 50px;
			width: 50px;
		}
		&__card-title {
			max-width: 196px;
			&--first {
				width: 160px;
			}
			&--third {
				width: 160px;
			}
		}
	}
}

@media (max-width: 885px) {
	.services {
		&__wrapper-text {
			margin-top: 15px;
		}
		&__item {
			font-size: 27px;
			line-height: 38px;
		}
		&__item-span {
			font-size: 24px;
			padding-left: 20px;
			width: 270px;
			line-height: 33px;
			&::before {
				font-size: 35px;
			}
		}
		&__text {
			margin-top: 15px;
			font-size: 14px;
			line-height: 25px;
		}
		&__button {
			margin-top: 28px;
		}
		&__cards-block {
			grid-gap: 20px 20px;
		}
		&__card-img {
			height: 40px;
			width: 40px;
		}
		&__card-title {
			margin-top: 10px;
			font-size: 18px;
			line-height: 22px;
			max-width: 182px;
			&--first {
				width: 140px;
			}
			&--third {
				width: 140px;
			}
		}
		&__card-text {
			font-size: 13px;
			line-height: 20px;
		}
	}
}

@media (max-width: 768px) {
	.services {
		padding: 80px 0 80px 0;
		&__wrapper {
			flex-direction: column-reverse;
			margin-top: 46px;
		}
		&__wrapper-text {
			margin-top: 0;
		}
		&__text-block {
			max-width: 638px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
			margin-top: 50px;
		}
		&__title {
			display: none;
		}
		&__title-mobile {
			display: block;
			text-align: center;
		}
		&__cards-block {
			width: 100%;
			grid-gap: 22px 40px;
		}
		&__card-img {
			height: 50px;
			width: 50px;
		}
		&__card-title {
			max-width: 179px;
		}
		&__card-text {
			max-width: 100%;
			margin-top: 12px;
		}
		&__item {
			text-align: center;
		}
		&__item-span {
			width: 350px;
			text-align: center;
			&::before {
				left: 4px;
			}
		}
		&__text {
			text-align: center;
		}
		&__button {
			width: 203px;
			height: 42px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@media (max-width: 576px) {
		.services {
			&__title-mobile {
				font-size: 27px;
				line-height: 38px;
			}
			&__wrapper-text {
				max-width: 300px;
			}
			&__wrapper-text {
				max-width: 309px;
			}
			&__item {
				font-size: 23px;
			}
			&__item-span {
				font-size: 20px;
				padding-left: 15px;
				width: 250px;
				line-height: 30px;
				&::before {
					font-size: 30px;
					line-height: 26px;
					left: 11px;
				}
			}
			&__button {
				/* font-size: 16px; */
				width: 188px;
				border-radius: 5px;
				font-family: "Roboto-Medium", sans-serif;
				height: 41px;
			}
		}
	}
}

@media (max-width: 508px) {
	.services {
		&__cards-block {
			width: 100%;
			grid-gap: 22px 22px;
		}
		&__text-block {
			flex-direction: column;
			margin-top: 0;
			width: 100%;
		}
		&__wrapper-text {
			margin: 0 auto;
			margin-top: 20px;
		}
	}
}

@media (max-width: 425px) {
	.services {
		padding: 70px 0 70px 0;
		&__cards-block {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
	}
}
