* {
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
.container {
	display: block;
	margin: 0 auto;
	max-width: 1440px; /* Используйте max-width вместо width */
	width: 100%
	
}
a {
	text-decoration: none;
}
.divider {
	position: absolute;
	width: 827px;
	height: 0.5px;
	background-color: #000000;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;	
}
ul {
	list-style-type: none; /* Убираем маркеры */
}

@media (max-width: 1920px) {
	.divider {
		width: 600px;
	}
}

@media (max-width: 1200px) {
	.divider {
		width: 400px;
	}
}

@media (max-width: 768px) {
	.divider {
		width: 300px;
	}
}

@media (max-width: 576px) {
	.divider {
		width: 200px;
	}
}
@media (max-width: 475px) {
	.divider {
		width: 150px;
	}
}	

@import "libs/normalize";
@import "style/fonts";
@import "style/nav";
@import "style/burger";
@import "style/burgerMenu";
@import "style/promo";
@import "style/o-meni";
@import "style/services";
@import "style/skills";
@import "style/reviews";
@import "style/process";
@import "style/interview";
@import "style/books";
@import "style/contacts";
@import "style/validationForm";
@import "style/spinner";
@import "style/modalResult";
@import "style/info";

